<header>
    <div class="container">
        <div class="logo">
            <a href="#" routerLink="/" class="logo">Logo</a>
        </div>
        <div class="search">
            <input type="text" name="" id="">
            <button type="submit">Search</button>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/cart">Cart</a>
                </li>
                <li>
                    <a href="#" routerLink="/login">Login</a>
                </li>
                <li>
                    <a href="#" routerLink="/register">Register</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
