* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    letter-spacing: 3px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
.title {
    font-size: 35px;
    color: #df4adf;
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #df4adf;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(-50deg,#520852,#df4adf,#003200,#001D00);
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(50deg,#520852,#df4adf,#003200,#001D00);
}

a {
    text-decoration: none;
    color: #df4adf;
}

.switchPage{
    background: linear-gradient(50deg,#003200,#001D00);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
}
.content h1{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
span{
    color: #df4adf;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.image{
    width:100%;
}
.toRegister p{
    
    color: #fff;
}
.toRegister p a{
    color: #df4adf;
    font-weight: 600;
    text-transform: uppercase;
}