<app-notfound [visible]="!food"></app-notfound>
<div *ngIf="food" class="container">
    <img [src]="food.product_image" [alt]="food.product_name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.product_name}}
            </span>
            <div class="tags">
                <app-categories [productPageCategories]="food.category" justifyContent="start"></app-categories>
            </div>
        </div>
        <div class="prices">
            <span class="price">{{food.product_price | currency:'KSH '}}</span>
        </div>
        <div class="description">
            <h2>Product Description</h2>
            <hr>
            <span>{{food.description}}</span>
        </div>
        <button (click)="addToCart()">Add to Cart</button>
    </div>
</div>