<header>
    <div class="nav-container">
        <div class="logo">
            <a href="#" routerLink="/" class="logo">Logo</a>
        </div>
        <app-search></app-search>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/cart">Cart</a>
                </li>
                <li>
                    <a href="#" routerLink="/login">Login</a>
                </li>
                <li>
                    <a href="#" routerLink="/register">Register</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <app-tags></app-tags>
    <app-notfound [visible]="!foods || foods.length<=0"></app-notfound>
    <ul>
        <li *ngFor="let food of foods">
            <a routerLink="/product/{{food.product_id}}">
                <img src="{{food.product_image}}" alt="product photo">
                <div class="content">
                    <div class="name">
                        {{food.product_name}}
                    </div>
                    <div class="price">
                        {{food.product_price |currency:'KSH '}}
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
