<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<body>
    <div class="container">
        <div class="register-page">
            <!-- <div class="logo">
                <a href="#" routerLink="/" class="logo">Logo</a>
            </div> -->

            <!-- Register Page -->
            <form action="" (ngSubmit)="onRegisterSubmit()" #form="ngForm">
                <h1 class="title">Register</h1>

                <!-- input name -->
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" ngModel name="name" required #name="ngModel">
                </div>
                <p class="error" *ngIf="!name.value && name.touched">Please enter a name</p>

                <!-- input email -->
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email" ngModel name="email" required email #email="ngModel">
                </div>
                <p class="error" *ngIf="!email.value && email.touched">Please enter valid email</p>

                <!-- input password -->
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" ngModel name="password" required #password="ngModel">
                </div>
                <p class="error" *ngIf="!password.value && password.touched">Please enter valid password</p>

                <!-- submit button -->
                <button type="submit" [disabled]="!form.valid">Register</button>
            </form>
            <!-- register page end -->
            </div>

            <div class="toLoginMobile">
                <p class="account-text">Already one of Us? <a href="#" routerLink="/login">Login</a></p>
            </div>

            <div class="switchPage">
                <div class="content">
                    <h1>Welcome <span>to the</span> family!</h1>
                    <p>We are so glad you joined us!</p>
                    <img src="../../assets/signup.svg" alt="" class="image">
                </div>
                <div class="toLogin">
                    <p class="account-text">Already one of Us? <a href="#" routerLink="/login">Login</a></p>
                </div>
            </div>
        </div>
</body>